{% load static %}

<link rel="stylesheet" href="{% static 'style.css' %}">  
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static owl.carousel.min.css %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/design-system/2.23.2/styles/salesforce-lightning-design-system.min.css" integrity="sha512-Ag/al2FwucHLvh61it+t543Mj6GoIbQ2p8I5Ympw1amy2mXqPL/8I8AXIXY1AY9+/1Gk6pBCouJ5ejzP2ZvXiw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="home-features">
  <div class="featuresContainer">
    <div class="home-features1">
      <div class="home-container02">
        <span class="overline">
          <span>features</span>
        </span>
      </div>
    </div>
  </div>
</div>